.App{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 10px;
}
.table_wrapper{
  width: 1000px;
  background: #f7f7f7;
  box-sizing: border-box;
  padding: 24px;
}
.table_header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px #f29898 solid;
  color: gray;
  padding-bottom: 20px;
}
.table_item{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 0;
}
.create_btn{
  position: relative;
  font-weight: 900;
  font-size: 16px;
  margin: 20px 0;
  margin-left: 30px;
}
.create_btn:after{
  content: '';
  background: url('./static/image/plus.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -30px;
  top: -4px;
  width: 25px;
  height: 25px;
}
.save_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 162px;
  color: white;
  font-weight: 900;
  font-size: 16px;
  background: #d53131;
  border-radius: 18px;
  margin-top: 28px;
  margin-left: 15px;  
}
.edit_btn{
  background: url('./static/image/pencil.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.close_btn{
  background: url('./static/image/delete.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.delete_btn{
  background: url('./static/image/delete.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.control_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item{
  width: 110px;
  text-align: center;
  margin-left: 15px;
  font-size: 14px;
  word-wrap: break-word;
}
.submit{
  background: green;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}
.form{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  margin-bottom: 20px;
  border-bottom: 1px #80808066 solid;
  animation: fadeIn .5s both;
}
/********************/
label{
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
input{
  height: 40px;
  width: 450px;
  margin: 10px 12px;
  padding-left: 20px;
  border: #80808033 1px solid;
  border-radius: 18px;
  box-sizing: border-box;
  background: white;
  font-size: 16px;
}


@keyframes fadeIn {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}